<div class = 'user-index'>
  <img  alt="profile image"/>
  <div class = 'p-2'>
    <h2 class = 'username'><%= link_to @user.name, controller: 'posts', user_id: @user %> </h2>
    <p>Number of posts: <%= @user.posts_counter%></p>
  </div>
</div>
<h4 class = 'bio'><%= @user.bio%></h4>
<div class = 'recent-post'>
  <% @user.most_recent_posts.each do |post| %>
    <div class = 'h-3'>
      <h3><%= link_to post.title, user_post_path(post.user, post)%> </h3>
      <h4><%= post.text%></h4>
      <p>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></p>
    </div>
  <%end %>
  <% if @user.posts.length > 3%>
    <div class = 'button'> 
      <button type = 'button'>See all posts</button>
    </div>
    