<h2>Add new Post</h2>

<div>
<%= form_with model: @post do |format| %>
<div>
<%= form.label :title %>
<%= form.text_field :title%>
</div>
<div>
<%= form.label :text%>
<%= form.text_area :text%>
</div>
<%= form.submit 'Add Post'%>
<% end %>
</div>