<h1>Here are details of a given user post</h1>

<div>
  <div>
    <h1><%= @post.title%> by <%= @user.name%> </h1>
    <p>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
  </div>
  <h3><%= @post.text%></h3>
</div>
<div>
  <% @post.comments.each do |comment| %>
    <h3><%= @users.find(comment.user_id).name%>: <%= comment.text%> </h3>
  <% end%>
</div>
