<h2>Display details of a given user post</h2>

<div class = 'single-post p-3'>
  <div>
    <h3><%= @post.title%> by <%= @user.name%> </h3>
    <p>Comments: <%= @post.comments_counter%>, Likes: <%= @post.likes_counter%></p>
  </div>
  <p><%= @post.text%></p>
</div>
<div class = 'single-comment p-3'>
  <% @post.comments.each do |comment| %>
    <p><%= @users.find(comment.user_id).name%>: <%= comment.text%> </p>
  <% end%>
</div>

<div class='mt-3'>
  <%= render "comments/form", user_id: @user_id, post_id: @user_post.id %>
</div>
